/*Sessão About*/

section.about{
  background-color: var(--cor-de-fundo-blue);
  color: var(--cor-text-green);
  height: 100vh; 
  display: flex;
  align-items: center;
}

.about__container{
  padding: 60px 0;
  margin: auto;
  width: 85%;
}

.about__title{
  font-size: 5.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.about__paragraph{
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 4.5rem;
}

@media (max-width: 768px) {
  section.about{
      width: 100vw;
      height: 45vh;
  }

  .about__container{
    padding: 30px;
    margin: 0;
    width: 100%;
  }

  .about__title{
    font-size: 2.8rem;
  }

  .about__paragraph{
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 425px) {
  section.about{
    height: 48vh;
}

.about__container{
  padding: 10px;
  width: 95%;
  margin: auto;
}

.about__title{
  font-size: 2.8rem;
}

.about__paragraph{
  font-size: 1.5rem;
  line-height: 1.9rem;
}
}