/* Experiência Acadêmica*/

section.academic{
  background-color: var(--cor-de-fundo-blue);
  color: var(--cor-text-green);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem;
}

.academic__title{
  font-size: 5rem;
  font-weight: 700;
  margin-bottom:35px ;
}

.academic__courses{
  display: flex;
  justify-content: center;
  width: 85%;
}

.academic__courses__box{
  display: flex;
  justify-content: center;
  margin: auto;
}

.academic__courses__item__title{
  font-size: 3rem;
  font-weight: 700;
  margin: 18px 0;
}

.academic__courses__item__subtitle{
  font-size: 2rem;
}

.academic__courses__item__img{
  width: 40rem;
  height: 30rem;
  background-color: #ffffff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.academic__courses__item__img img{
  width: 20rem;
  margin: auto;
}

@media (max-width: 768px) {
  section.academic{
      width: 100vw;
      padding: 30px;
      height: 60vh;
    }
    
    .academic__title{
      font-size: 2.8rem;
    }
    
    .academic__courses{
    width: 100%;
    margin-bottom:16px;
  }

  .academic__courses__item__title{
    font-size: 2rem;
    margin-bottom: 8px;
  }
  
  .academic__courses__item__subtitle{
    font-size: 1.5rem;
  }

  .academic__courses__item__img{
    width: 28rem;
    height: 15rem;
    margin-bottom: 8px;
  }
  
  .academic__courses__item__img img{
    width: 100px;
  }
}

@media (max-width: 425px) {
  section.academic{
    padding: 15px;
  }

  .academic__courses{
    width: 100%;
    margin-bottom:16px;
    flex-direction: column;
    align-items: center;
  }

  .academic__courses__box{
    margin-bottom: 10px;
  }
  
}