/*Contato*/

section.formcontato {
  background-color: var(--cor-de-fundo-gray);
  color: var(--cor-text-blue);
  display: flex;
  align-items: center;
  height: 100vh;
}

.formcontato__contacto {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding: 100px 0;
}

.formcontato--esquerda {
  margin-right: 20px;
  width: 40%;
  height: 62rem;
  background-color: var(--cor-de-fundo-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formcontato__text {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.formcontato__title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.formcontato__subtext {
  font-size: 2rem;
  line-height: 2.5rem;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.formcontato__form input,
textarea {
  width: 100%;
  height: 56px;
  margin-bottom: 32px;
  font-size: 2rem;
  font-weight: 400;
  padding: 12px;
  border: none;
  border-radius: 4px;
}

.formcontato__form input:focus,
textarea:focus {
  border-bottom: 3px solid var(--cor-de-fundo-blue);
  outline: none;
}

.formcontato__form > div {
  position: relative;
}

.formcontato__form label {
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 12px;
  margin-bottom: 20px;
  color: #a2a2a2;
  display: block;
  transition: 0.5s;
}

.formcontato__form .form-focus label {
  font-size: 1.5rem;
  position: absolute;
  top: -18px;
  left: 5px;
  margin-bottom: 20px;
  display: block;
  color: var(--cor-de-fundo-black);
  font-weight: 400;
}

.formcontato__form .form-check label {
  color: var(--cor-text-black);
  opacity: 0.6;
  font-weight: bold;
}

.formcontato__form .formcontato__textarea {
  margin-bottom: 25px;
  height: 13rem;
  padding: 12px;
}

.formcontato__form .formcontato__botao {
  font-size: 1.8rem;
  width: 20rem;
  height: 6rem;
  margin-bottom: 32px;
  background-color: var(--cor-button-green);
  border: none;
  border-radius: 5px;
  color: var(--cor-text-black);
  font-weight: bold;
  cursor: pointer;
}

.formcontato__form .formcontato__botao:hover {
  opacity: 0.78;
}

@media (max-width: 768px) {
  section.formcontato {
    height: 90vh;
  }
  .formcontato__contacto { 
    width: 95%;
    padding: 0px 0 0 0;
  }
  
  .formcontato--esquerda {
    display: none;
  }
  
  .formcontato__text {
    width: 100%;
    margin: auto;
  }

  .formcontato__title {
    font-size: 2.8rem;
  }
  .formcontato__form .formcontato__botao {
    margin-bottom: 3px;
  }
}

@media (max-width: 425px) {
  section.formcontato {
    padding: 50px 0;
    height: inherit;
  }

  .formcontato__form .formcontato__botao {
    width: 100%;
  }
  
}


/* @keyframes contactos {
  0% {
    transform: rotate(130deg); 
  }
  50% {
    
   transform: rotate(140deg);
   
  }
  50% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(130deg);
  }
} */
