/*Sessão skills*/

section.skills {
  background-color: var(--cor-de-fundo-green);
  color: var(--cor-text-blue);
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}

.skills__title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.skills__line {
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;
  width: 85%;
  align-items: center;
  justify-content: center;
}

.skills__box {
  width: 15rem;
  height: 15rem;
  background-color: var(--cor-text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(157, 152, 152, 0.564);
}

.skills__name{
  font-size: 20px;
  color: var(--cor-text-black);
}

[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime='down'] {
  transform: translate3d(0, -100%, 0);
}

[data-anime='up'] {
  transform: translate3d(0, 100%, 0);
}

[data-anime='left'] {
  transform: translate3d(-100px, 0, 0);
}

[data-anime='right'] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animation {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.skills__box ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__box .skills__img {
  margin-bottom: 10px;
  width: 65px;
  transition: all 1s;
}

@media (max-width: 768px) {
  section.skills {
    padding: 1vh;
  }
  
  .skills__title {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }
  
  .skills__line {
    gap: 2rem;
    width: 95%;
  }
  
  .skills__box {
    width: 22rem;
    height: 14rem;
    margin: 0px;
  }
}

@media (max-width: 425px) {
  section.skills {
    height: initial; 
    padding:20px 0;
  }
  
  .skills__line {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    width: 100%;
  }

  .skills__box {
    width: 13rem;
    height: 11rem;
    margin: 0;
  }

  .skills__box .skills__img {
    margin-bottom: 0;
    width: 50px;
  }

  .skills__name{
    display: none;
  }
}

