/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo-green: #05F29B;
  --cor-de-fundo-blue: #0A0140;
  --cor-de-fundo-gray: #cdcdcd;

  --cor-de-borde-blue: #0E3D59;
  
  /* --cor-de-link: #0D0D0D; */
  --cor-de-hover:#0E3D59;
  
  --cor-button-green: #05F283;
  --cor-button-blue: #0A0140;
  --cor-button-gray: #cdcdcd;

  --cor-text-black:#0E3D59;
  --cor-text-green:#3FFFC1;
  --cor-text-white:#ffffff;

}

.all {
  display: flex;
  flex-direction: column;
  color: var(--cor-text-black);
  
}

html{
  scroll-behavior: smooth;
}

.arrow{
  position: fixed;
  right: 55px;
  bottom: 50px;
}

.top{
  display: none;
}

.arrow a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow a > ion-icon{
  font-size: 70px;
  font-weight: bold;
  filter:drop-shadow(0px 2px 0px);
  transition: 1s;

}

.arrow a > span{
  opacity: 0;
  font-size: 32px;
  font-weight: bold;
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Permanent Marker', cursive;
  transition: 0.5s;
}

.arrow:hover a > span{
  opacity: 1;
  display: block;
  transform: translate3d(0, -50%, 0);
  color: var(--cor-de-hover);
}

.arrow:hover ion-icon{
  transform: translate3d(0, -15%, 0);
  color: var(--cor-de-hover);

}

/*Tablet*/
@media (max-width: 768px) {
  .arrow{
    display: none;
  }

  /* .arrow ion-icon{
    display: none;
  } */
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Expeirência profissional*/
}

/*Mobile*/
@media (max-width: 425px) {
  .all {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
