/*Sessão Title*/

section.title{
    background-color: #F5F5F5;
    margin-top: 4rem;
    padding:80px 0;
}

.title__div{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
    width: 80%;
}

.title__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

.title__bio{
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 35px;
}

.title__subsection{
    font-size: 22px;
    margin-bottom: 35px;
}

.title__network{
    display: flex;
    justify-content: space-between;
    width: 28%;
}

.title__network__item a ion-icon{
    font-size: 45px;
    margin: 0px 10px;
}

.title__network__item a ion-icon:hover{
    opacity: 0.788;
}

.title__network__item:nth-child(1) a ion-icon{
    color: #181717;
}

.title__network__item:nth-child(2) a ion-icon{
    color: #0A66C2;
}

.title__network__item:nth-child(3) a ion-icon{
    color: #E4405F;
}

.title__network__item:nth-child(4) a ion-icon{
    color: #181717;
}

@media (max-width: 768px) {
    section.title{
        width: 100vw;
        overflow-y: hidden;
    }

    .title__div{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        margin: auto;
        width: 100%;
    }
}

