/*Sessão Title*/

section.title {
  background-color: var(--cor-de-fundo-green);
  color: var(--cor-text-black);
  height: 100vh;
  display: flex;
  align-items: center;
}

.title__div {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin: auto;
  width: 85%;
  height: 90%;
}

.title__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title__profile {
  width: 45em;
  height: 45em;
  border-radius: 50%;
  padding: 10px 0;
}

.title__bio {
  font-size: 6.5rem;
  font-weight: bold;
  margin-bottom: 35px;
}

.title__subsection {
  font-size: 3rem;
  margin: 10px 30px 30px 0px;
}

.title__network__item {
  display: inline;
  margin:0 6rem 0 0;
  font-size: 2.5rem;
  position: relative;
}

.title__network__item a > ion-icon {
  padding-left: 0px;
  position: absolute;
  top: 0;
  right: -1;
}

.title__network__item a p {
  display: inline-block;
  text-align: center;
}

.title__network__item:nth-child(1):hover a ion-icon {
    color: #181717;
    margin-top: 2px;
}

.title__network__item:nth-child(2):hover a ion-icon {
    color: #0a66c2;
    margin-top: 2px;
}

.title__network__item:nth-child(3):hover a ion-icon {
    color: #e4405f;
    margin-top: 2px;
}

.title__network__item:nth-child(4):hover a ion-icon {
    color: #181717;
    margin-top: 2px;
}

@media (max-width: 768px) {
  section.title {
    height: 50vh;
    margin-top: 8vh;
    display: flex;
    align-items: center;
  }

  .title__div {
    width: 95%;
  }

  .title__profile {
    width: 30em;
    height: 30em;
  }

  .title__bio {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .title__subsection {
    font-size: 1.8rem;
    margin: 10px 30px 20px 0px;
  }

  .title__network__item{
    margin:0 3rem 0 0;

  }
  
  .title__network__item a p {
    display: none;
  }
  
  .title__network__item a > ion-icon {
    padding-left: 0px;
    font-size: 4rem;
    position: relative;
  }

  .title__network__item:nth-child(1) a ion-icon {
    color: #181717;
}

.title__network__item:nth-child(2) a ion-icon {
    color: #0a66c2;
}

.title__network__item:nth-child(3) a ion-icon {
    color: #e4405f;
}

.title__network__item:nth-child(4) a ion-icon {
    color: #181717;
}
  
}

@media (max-width: 425px) {
  section.title {
    margin-top: 2rem;
  }

  .title__div {
    justify-content: space-between;
    flex-direction: column;
    align-items: initial;
    margin: auto;
  }

  .title__container {
    width: 100%;
  }

  .title__profile {
    width: 98px;
    border-radius: 50%;
    margin:16px 0px ;
  }

  .title__bio {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .title__subsection {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .title__network__item a > ion-icon {
    padding-left: 0px;
    font-size: 2.5rem;
  }

}
