/*Sessão Title*/

section.title {
  background-color: var(--cor-de-fundo-green);
  color: var(--cor-text-black);
  margin-top: 4rem;
  padding: 80px;
}

.title__div {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  margin: auto;
}

.title__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}

.title__profile {
  width: 368px;
  border-radius: 50%;
  margin: 30px;
}

.title__bio {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 35px;
}

.title__subsection {
  font-size: 22px;
  margin-bottom: 30px;
}

.title__network__item {
  display: inline;
  margin-right: 60px;
  font-size: 22px;
  position: relative;
}

.title__network__item a > ion-icon {
  padding-left: 0px;
  position: absolute;
  top: 0;
  right: -1;
}

.title__network__item a p {
  display: inline-block;
  text-align: center;
}

.title__network__item:nth-child(1):hover a ion-icon {
    color: #181717;
    margin-top: 2px;
}

.title__network__item:nth-child(2):hover a ion-icon {
    color: #0a66c2;
    margin-top: 2px;
}

.title__network__item:nth-child(3):hover a ion-icon {
    color: #e4405f;
    margin-top: 2px;
}

.title__network__item:nth-child(4):hover a ion-icon {
    color: #181717;
    margin-top: 2px;
}

@media (max-width: 768px) {
  section.title {
    padding: 35px;
  }
  
  .title__div {
    justify-content: space-between;
    margin: 0;
  }

  .title__container {
    width: 70%;
    padding: 0;
  }

  #about-anchor{
    display: none;
  }

  .title__profile {
    width: 146px;
    border-radius: 50%;
    margin: 0px;
  }

  .title__bio {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .title__subsection {
    font-size: 16px;
    margin-bottom: 22px;
  }
  .title__network__item {
    margin-right: 35px;
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  section.title {
    margin-top: 3rem;
    padding: 16px;
  }

  .title__div {
    justify-content: space-between;
    flex-direction: column;
    align-items: initial;
    margin: auto;
  }

  .title__container {
    width: 100%;
  }

  .title__profile {
    width: 98px;
    border-radius: 50%;
    margin:16px 0px ;
  }

  .title__bio {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .title__subsection {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .title__network__item a p {
    display: none;
  }

  .title__network__item a > ion-icon {
    padding-left: 0px;
    font-size: 30px;
    position: relative;
  }

  .title__network__item:nth-child(1) a ion-icon {
    color: #181717;
}

.title__network__item:nth-child(2) a ion-icon {
    color: #0a66c2;
}

.title__network__item:nth-child(3) a ion-icon {
    color: #e4405f;
}

.title__network__item:nth-child(4) a ion-icon {
    color: #181717;
}
  
}
